@use '../../styles/main' as *;

.text_section {

    &_title.small {
        font-size: 28px;
    }

    &_title.medium {  
        font-size: 42px;
    }
    
    &_title.large {
        font-size: 70px;
    }

    &_big_title {
        text-align: center;
    }

    &_paragraph_center {
        text-align: center;
    }
}

.text_section.center_text_align {
    text-align: center;
}