@use '../../styles/main' as *;

.text_section {

    &_title.small {
        font-size: 28px;
    }

    &_title.medium {  
        font-size: 42px;
    }
    
    &_title.large {
        font-size: 70px;
    }

    &.center_text_align {
        text-align: center;
    }
}

@media (max-width: 768px) {

    .text_section { 
        text-align: center;
        
        &_title.large {
            font-size: 42px;
        }

    }
}