:root {
    --background-primary: #F8F8FF;
    --background-secondary: #26997B;
    --border-primary: #9B9EF0;
    --border-secondary: #ACDEC8;
    --border-secondary-accent: #56BA9F;
    --text-primary: #272962;
    --text-secondary: #E6F7ED;
    --text-secondary-accent: #1D3B31;
    --icon-primary: #FFDC00;
    --box-shadow: rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
    --background-primary: #171625;
    --background-secondary: #27B08B;
    --border-primary: #5958B1;
    --border-secondary: #114837;
    --border-secondary-accent: #2A7E68;
    --text-primary: #E0DFFE;
    --text-secondary: #0F2E22;
    --text-secondary-accent: #ADF0D4;
    --icon-primary: #BBBBBB;
}