:root {
    --background-primary: #F8F8FF;
    --border-primary: #9B9EF0;
    --text-primary: #272962;
}

// [data-theme="dark"] {
//     --background-primary: #171625;
//     --background-secondary: #13131E;
//     --text-primary: #B1A9FF;
//     --border-primary: rgba(224, 223, 254, 0.3);
// }