@use '../../styles/main' as *;

.page {
    @include flex-box(column, center, center);
    
    gap: 140px;
}

.introduction {
    @include flex-box(row, space-between, center);
    gap: 42px;

    &_section {
        flex: 1;
        overflow: hidden;

        img {
            height: 350px;
        }

        &.left {
            text-align: left;
        }

        &.right {
            text-align: center;
        }
    }
}

.about {
    @include flex-box(column, center, center);

    margin-left: 140px;
    margin-right: 140px;

    &_contact_button {
        
        margin-top: 14px;
        padding: 14px;

        color: var(--text-secondary);
        border-radius: 14px;
        border: 1px solid var(--border-secondary);
        background-color: var(--background-secondary);
        box-shadow: 7px 7px 7px var(--box-shadow);

        &:hover {
            color: var(--text-secondary-accent);
            border-color: var(--border-secondary-accent);
            box-shadow: 3px 3px 3px var(--box-shadow);
        }
    }
}

.skills, .projects {
    @include flex-box(column, center, center);

    width: 100%;

    &_cards {
        @include flex-box(row, center, start);
        flex-wrap: wrap;

        width: 100%;
        padding-top: 42px;
        gap: 21px;
    }
}

@media (max-width: 768px) {

    .page {
        gap: 70px;
    }
    
    .introduction {
        flex-direction: column-reverse;

        gap: 14px;

        &_section {
            flex: none;

            p {
                text-align: center;
            }

            img {
                width: 33%;
                height: auto;
            }
        }
    }

    .about {
        margin-left: 0px;
        margin-right: 0px;
    }
}