@use '../../styles/main' as *;

.page {
    @include flex-box(column, center, center);
    
    gap: 140px;
}

.introduction {
    @include flex-box(row, space-between, center);
    gap: 42px;
}

.about {
    margin-left: 140px;
    margin-right: 140px;
}

.skills {
    @include flex-box(column, center, center);

    width: 100%;

    &_title {
        font-size: 28px;
    }

    &_cards {
        @include flex-box(row, center, center);
        flex-wrap: wrap;

        width: 100%;
        padding-top: 42px;
        gap: 21px;
    }
}

.projects {
    @include flex-box(column, center, center);

    &_title {
        font-size: 28px;
    }

    &_cards {
        @include flex-box(row, center, center);
        flex-wrap: wrap;

        width: 100%;
        padding-top: 42px;
        gap: 21px;
    }
}