@use '../../styles/main' as *;

.page {
    @include flex-box(column, center, center);
    
    gap: 140px;
}

.introduction {
    @include flex-box(row, space-between, center);
    gap: 42px;

    &_section {
        flex: 1;
    }
}

.about {
    margin-left: 140px;
    margin-right: 140px;
}

.skills, .projects {
    @include flex-box(column, center, center);

    width: 100%;

    &_cards {
        @include flex-box(row, center, start);
        flex-wrap: wrap;

        width: 100%;
        padding-top: 42px;
        gap: 21px;
    }
}