@use '../../styles/main' as *;

.header {
    @include flex-box(row, space-between, center);

    margin-bottom: 49px;
    background-color: var(--background-primary);

    & * {
        color: var(--text-primary);
    }

    &_nav {
        @include flex-box(row, flex-end, center);
        gap: 35px;
    }

    .hashlink:hover {
        text-decoration: underline;
    }
}