@use '../../styles/main' as *;

.header {
    @include flex-box(row, space-between, center);

    margin-bottom: 47px;

    &_nav {
        @include flex-box(row, flex-end, center);
        gap: 35px;

        &_icon {
            font-weight: bolder;
        }

        .hashlink:hover {
            text-decoration: underline;
        }
    }
}