@use '../../styles/main' as *;

.header {
    @include flex-box(row, space-between, center);

    margin-bottom: 47px;

    &_nav {
        @include flex-box(row, flex-end, center);
        gap: 35px;

        &_hashlink:hover {
            text-decoration: underline;
        }

        &_icon {
            width: 21px;
            height: 21px;

            &:hover {
                color: var(--icon-primary);
            }
        }

        &_theme {
            display: none;
        }
    }
}

@media (max-width: 768px) {

    .header {
        flex-direction: column;
        justify-content: center;

        gap: 14px;

        &_nav {
            width: 100%;
            justify-content: flex-start;
            flex-wrap: wrap;
            
            gap: 7px;

            &_hashlink, &_theme {
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc(50% - 10px);
            }

            &_icon {
                display: none;
            }
        }

    }
}