@use '../../styles/main' as *;

.footer {
    @include flex-box(row, space-between, center);

    height: 47px;
    margin-top: 47px;

    &_nav {
        @include flex-box(row, flex-end, center);
        gap: 14px;

        &_link:hover {
            font-weight: bolder;
    }
    }
    
}